.EightBall {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EightBall-Circle {
  display: flex;
  width: 70vw;
  height: 70vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.EightBall-TextArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 50%;
}

.EightBall-Text {
  font-size: 3rem;
  color: white;
}

.EightBall-Button {
  font-family: inherit;
  width: 180px;
  height: 50px;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  border: 1px solid grey;
  margin-top: 2rem;
}

.EightBall-Reset-Button {
  font-family: inherit;
  width: 180px;
  height: 50px;
  font-size: 1.2rem;
  color: white;
  background-color: green;
  border: 1px solid grey;
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .EightBall-Text {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .EightBall-Text {
    font-size: 1.5rem;
  }
}
